<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles/globle.css">
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
  <%- include('partials/header', { links: [ { text: 'Home' , href: '/' }, ] }) %>

    <div class="container">
      <div class="buttons">
        <button class="active pageBtn">Log In</button>
        <a href="/signup" class="notActive pageBtn">Make an account</a>
      </div>

      <form action="login" method="post">
        <div class="input">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="input">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button class="submit" type="submit">Log In</button>
      </form>
    </div> 
</body>

</html>