/* 
#1B3C53 dark blue
#234C6A blue
#456882 light blue
#E3E3E3 white 
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: #E3E3E3;
}

* {
  box-sizing: border-box;
}

.content {
  color: darkblue;
  flex: 1;
}

.errors {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-bottom: 15px;
  padding: 10px;
  color: #1B3C53;
}

.errors hr:last-child {
  display: none;
}