* {
  box-sizing: border-box;
}

header {
  background-color: #234C6A;
  color: #E3E3E3;
  font-size: large;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

h2 {
  margin: 0;
  font-weight: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
    display: inline-block;
  color: #E3E3E3;
  text-decoration: none;
  background-color: #456882;
  padding: 10px 20px;
  border-radius: 40px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

nav a:hover,
nav a:focus {
  background-color: #1B3C53;
  transform: scale(1.1);
}

.status {
  color: rgb(255, 188, 100);
}