.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 0;
}

.pageBtn {
  text-decoration: none;
  color: #E3E3E3;
  background-color: #456882;
  padding: 10px 20px;
  font-size: large;
  border-radius: 5px;
  border: none;
}

.active {
  background-color: #1B3C53;
  transform: scale(1.1);
}

.input {
  border: none;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.submit {
  background-color: #1B3C53;
  border: none;
  color: #E3E3E3;
  font-size: large;
  border-radius: 5px;
  padding: 10px 20px;
  transition: transform 0.1s ease;
  margin-top: 10px;
}

.submit:hover,
.submit:focus {
  background-color: #456882;
  outline: 2px solid #1B3C53;
  cursor: pointer;
  transform: scale(1.02);
}

input {
  font-size: x-large;
  border-radius: 5px;
  border: none;
}

textarea {
  min-height: 7.6rem;
}

form {
  color: #E3E3E3;
  padding: 20px 30px;
  font-size: x-large;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #456882;
}