.messagesContent {
  display: flex;
  flex: auto;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  text-align: start;
  font-size: xx-large;
  margin: 0;
  color: #1B3C53;
  overflow-wrap: break-word;
  word-break: break-word;
}

.message {
  padding: 20px;
  width: min(600px, 95vw);
  font-size: large;
  background-color: #456882;
  border-radius: 10px;
  color: #E3E3E3;
  flex: 1;
  overflow-wrap: break-word;
  word-break: break-word;
}

.delete {
  padding: 20px;
  width: min(600px, 95vw);
  font-size: large;
  background-color: #456882;
  border-radius: 10px;
  color: #E3E3E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5vh;
}

.widthMax {
  width: min(min(600px, 100%), 95vw);
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.strongTitle {
  font-size: x-large;
}

.bottom {
  display: flex;
  gap: 1rem;
}

.bottomButtons {
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: #E3E3E3;
  display: inline-block;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.bottomButtons {
  background-color: rgba(27, 60, 83, 1);
}

#deleteButton {
  background-color: rgba(206, 57, 57, 1);
}

.bottomButtons:hover,
.bottomButtons:focus {
  transform: scale(1.1);
}

.bottomButtons:hover,
.bottomButtons:focus {
  background-color: rgba(27, 60, 83, 0.5);
}

#deleteButton:hover,
#deleteButton:focus {
  background-color: rgba(206, 57, 57, 0.67);
}

.trashCan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 5px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.trashCan:hover,
.trashCan:focus {
  background-color: rgb(0, 0, 0, 0.4);
}

.heightMin {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  font-size: large;
}

.submit {
  background-color: #1B3C53;
  border: none;
  color: #E3E3E3;
  font-size: large;
  border-radius: 5px;
  padding: 10px 20px;
  transition: transform 0.1s ease;
  margin-top: 10px;
}

.submit:hover,
.submit:focus {
  background-color: #456882;
  outline: 2px solid #1B3C53;
  cursor: pointer;
  transform: scale(1.02);
}